<!DOCTYPE html>
<html>

<head>
  <title>Fotos-para-ti!</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
    crossorigin="anonymous">
    <script src="../js/ckeditor5-build-classic/ckeditor.js"></script>
</head>

<body>

  <div class="container">
    <%- partial('../partials/encabezado') %>

    <%- body %>

    <%- partial('../partials/pie')%>
  </div>
  <!--SCRIPTS-->
  <script src="/dependencies/sails.io.js"></script>
  <script src="/js/ckeditor5-build-classic/ckeditor.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ar.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ast.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/bg.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ca.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/cs.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/da.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/de-ch.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/de.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/el.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/en-au.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/eo.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/es.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/et.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/eu.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/fa.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/fi.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/fr.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/gl.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/gu.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/hr.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/hu.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/it.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ja.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/km.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/kn.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ko.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ku.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/nb.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ne.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/nl.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/no.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/oc.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/pl.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/pt-br.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/pt.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ro.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ru.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/si.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/sk.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/sq.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/sv.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/tr.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/tt.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/ug.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/uk.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/zh-cn.js"></script>
  <script src="/js/ckeditor5-build-classic/translations/zh.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
